<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway&display=swap" rel="stylesheet">
<div class="salon-nav">
    <div class="nav-section">
        <h1>Highlands Ranch</h1>
    </div>
    <div class="nav-section">
        <h2><a href="/highlandsranch">Schedule</a></h2>
        <h2><a href="/highlandsranch/services">Services</a></h2>
        <h2><a href="/highlandsranch/about">About Us</a></h2>
    </div>    
</div>