<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway&display=swap" rel="stylesheet">
<div class="salon-nav">
    <div class="nav-section">
        <h1>Highlands Ranch</h1>
    </div>
    <div class="nav-section">
        <h2><a href="/highlandsranch">Schedule</a></h2>
        <h2><a href="/highlandsranch/services">Services</a></h2>
        <h2><a href="/highlandsranch/about">About Us</a></h2>
    </div>    
</div>
<div class="background-img">
    <div class='background-img-color'>
        <div class="schedule-type-container">
            <h3 class="schedule-type active" id="book">Book</h3>
            <h3>/</h3>
            <h3 class="schedule-type" id="walk">Walk-In</h3>
        </div>
        <div class="salon-calendar-container">
            <a id='prev-week'>
                &#8249;
            </a>
            <div class="salon-calendar">
                {{#each days}}
                <div class='salon-calendar-day'>
                    <h3>{{this.monthName}}</h3>
                    <h3>{{this.date}}</h3>
                </div>
                {{/each}}
            </div>
            <a id='next-week'>
                &#8250;
            </a>
        </div>
    </div>
</div>
<div class='salon-schedule-bottom'>

    <div class='salon-schedule-bottom-box'>

        <h2>Design Your Trip</h2>

        <div class='salon-schedule-bottom-row'>
            <select class='salon-select' id="salon-select-artist" value="0">
                <option value="0">No Preffered Salon Artist</option>
                <option value="1">Britney</option>
                <option value="2">Whitney</option>
                <option value="3">Houston</option>
                <option value="4">Sanchez</option>
            </select>
            <select class='salon-select' id="salon-select-time" value="0">
                <option value="0">10:00 AM</option>
                <option value="1">10:30 AM</option>
                <option value="2">11:00 AM</option>
                <option value="3">11:30 AM</option>
                <option value="4">12:00 PM</option>
            </select>
        </div>

        <div class='salon-schedule-bottom-row'>
            <div class='adj-service add-service'>+</div>
            <select class='salon-select' value="0">
                <option value="0">Pedicure</option>
                <option value="1">Manicure</option>
                <option value="2">Gels</option>
                <option value="3">Shellac</option>
                <option value="4">Painting</option>
            </select>
            <select class='salon-select' value="0">
                <option value="0">Classic</option>
                <option value="1">Spa</option>
                <option value="2">French</option>
                <option value="3">Athletic</option>
                <option value="4">Stone</option>
            </select>
        </div>

        <div id='ela'>ELA: 30 minutes</div>

        <button class='schedule-appt'>Book Now</button>

    </div>

</div>

<script src="/assets/js/home.js"></script>