<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway&display=swap" rel="stylesheet">
<div class="salon-nav">
    <div class="nav-section">
        <h1>Highlands Ranch</h1>
    </div>
    <div class="nav-section">
        <h2><a href="/highlandsranch">Schedule</a></h2>
        <h2><a href="/highlandsranch/services">Services</a></h2>
        <h2><a href="/highlandsranch/about">About Us</a></h2>
    </div>    
</div>
<div class='services-img'>
    <div class='services-card'>
        <div class='services-card-left'>
            <div class='services-card-title'>
                <h3>Full Manicure</h3>
            </div>
            <div class='services-card-description'>
                <p>A “full set” refers to having acrylic or gel nails applied to all of your nails. The nail tech should work on your cuticles and will file your natural nails short before applying the new set of nails.</p>
            </div>
        </div>
        <div class='services-card-right'>
            
        </div>
    </div>
    <div class='services-card'>
        <div class='services-card-left'>
            <div class='services-card-title'>
                <h3>Full Pedicure</h3>
            </div>
            <div class='services-card-description'>
                <p>Regular pedicure: A simple treatment that includes foot soaking, foot scrubbing with a pumice stone or foot file, nail clipping, nail shaping, foot and calf massage, moisturizer and nail polishing. Shanghai pedicure: involves soaking feet in hot water and using scalpel.</p>
            </div>
        </div>
        <div class='services-card-right'>
            
        </div>
    </div>
    <div class='services-card'>
        <div class='services-card-left'>
            <div class='services-card-title'>
                <h3>Skin Care treatment</h3>
            </div>
            <div class='services-card-description'>
                <p>Skin care is the range of practices that support skin integrity, enhance its appearance and relieve skin conditions. They can include nutrition, avoidance of excessive sun exposure and appropriate use of emollients.</p>
            </div>
        </div>
        <div class='services-card-right'>
            
        </div>
    </div>
    <div class='services-card'>
        <div class='services-card-left'>
            <div class='services-card-title'>
                <h3>Waxing Services</h3>
            </div>
            <div class='services-card-description'>
                <p>Waxing is the process of hair removal from the root by using a covering of a sticky substance, such as wax, to adhere to body hair, and then removing this covering and pulling out the hair from the follicle. New hair will not grow back in the previously waxed area for four to six weeks, although some people will start to see regrowth in only a week due to some of their hair being on a different human hair growth cycle. Almost any area of the body can be waxed, including eyebrows, face, pubic hair (called bikini waxing), legs, arms, back, abdomen, knuckles, and feet. There are many types of waxing suitable for removing unwanted hair.</p>
            </div>
        </div>
        <div class='services-card-right'>
            
        </div>
    </div>
    <div class='services-card'>
        <div class='services-card-left'>
            <div class='services-card-title'>
                <h3>Natural Beauty Products</h3>
            </div>
            <div class='services-card-description'>
                <p>A natural product is a chemical compound or substance produced by a living organism—that is, found in nature. ... The term natural product has also been extended for commercial purposes to refer to cosmetics, dietary supplements, and foods produced from natural sources without added artificial ingredients.</p>
            </div>
        </div>
        <div class='services-card-right'>
            
        </div>
    </div>
</div>