html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#admin {
    min-width: 100vw;
    min-height: 100vh;
    background-color: whitesmoke;
}

.admin-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.admin-nav h1 {
    padding: 2px 3px;
    margin: 0 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.admin-nav h1.active {
    color: blue;
}

.salon-nav {
    padding-left: 15px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    border-bottom-style: groove;
    border-bottom-width: 1.5px;
    border-color: violet;
    background: rgba(51, 0, 60, 0.67);
}

.nav-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 190px;
}

.nav-section p {
    padding: 0;
    margin: 0;
}


.nav-section ~ .nav-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 190px 0 0;
}

.nav-section h1 {
    padding: 0 15px 0 0;
    margin: 0 15px 0 0;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.2px;
    color: honeydew;
}

.nav-section h2 {
    margin-left: 45px;
    letter-spacing: 1.25px;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

.nav-section h2 a {
    text-decoration: none;
    transition: all 0.6s ease;
    color: honeydew;

}

.nav-section h2 a:hover {
    color: violet;
}

.background-img {
    height: 250px;
    background: url("/assets/img/salon-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background-img-color {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(51, 0, 60, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.schedule-type-container {
    padding: 5px 15px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    width: 150px;
    background-color: rgba(240,255,240,0.3);
    transition: all 0.6s ease;
}

h3.active {
    color: honeydew;
}

.schedule-type {
    cursor: pointer;
    transition: all 0.6s ease;
}

.salon-calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.salon-calendar-container a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 55px;
    cursor: pointer;
}

.salon-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-style: ridge;
    border-width: 2px;
    border-color: violet;
    height: 105px;
    border-radius: 5px;
}

.salon-calendar-day {
    width: 100px;
    height: 90px;
    padding-top: 10px;
    border-style: ridge;
    border-width: 2px;
    border-color: honeydew;
    color: honeydew;
    margin: 0;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}

.salon-calendar-day.active {
    background: rgba(240,255,240,0.5)
}

.salon-calendar-day h3 {
    margin: 0;
    padding: 0;
}

.salon-select {
    width: 25vw;
    height: 50px;
    margin: 4vh 1vw;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.salon-schedule-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.salon-schedule-bottom-box {
    margin: 8vh 0;
    width: 60vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    transition: all 6s ease;
}

.salon-schedule-bottom-box h2 {
    font-family: 'Raleway', sans-serif; 
}

.salon-schedule-bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adj-service {
    width: 25px;
    border-width: 1.5px;
    border-style: outset;
    border-radius: 100%;
    background-color: rgb(220, 220, 220);
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}

.add-service {
    color: lime;
}

.del-service {
    color: red;
}

.add-service:hover {
    color: green;
}

.adj-service:active {
    border-style: inset;

}

button.schedule-appt {
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    background: rgba(51, 0, 60, 0.75);
    color: white;
    border-radius: 5px;
    /* border-width: 2px;
    border-style: double;
    border-color: white; */
    
}

.services-img {
    width: 100%;
    min-height: 88vh;
    background: rgba(51, 0, 60, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.services-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 225px;
    border-style: double;
    border-color: white;
    border-radius: 10px;
    margin: 5vh 0;
}

.services-card-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 64vw;
    height: 100%;
    border-right-style: solid;
    border-right-width: 1.5px;
    border-color: rgba(255, 255, 255, 0.75);
}

.services-card-right {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: url("/assets/img/galery.jpg");
    background-position: center;
    background-size: 100%;
}

.services-card-title {
    width: 64vw;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.75);
    border-bottom-width: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.services-card-description {
    padding: 1vh 3vw;
    width: 58vw;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}


#login_container {
    position: absolute;
    top: 30vh;
    left: 35vw;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 15%, rgba(218,218,218,1) 100%);
    border-style: groove;
    border-width: 2px;
    border-color: gainsboro;
}

#register_user {
    color: royalblue;
    align-self: flex-end;
}

#prev-week {
    display: none;
    transition: all 0.6s ease;
}